footer {
	max-width: 1040px;
	margin: auto;
}

footer ul {
	list-style-type: none;
}

footer .left_cnt {
	padding: 20px 10px;
	display: inline-block;
	max-width: calc(100% - 320px - 10px);
	min-width: 320px;
}

@media only screen and (max-width: 730px) {
	footer .left_cnt {
		max-width: 100%;
		width: 100%;
	}
}

footer .left_cnt h4 {
	font-size: 14px;
	margin-bottom: 5px;
}

footer .left_cnt p {
	font-size: 14px;
	line-height: 20px;
}

footer .left_cnt ul {
	padding: 0px;
}

footer .left_cnt ul li ul {
	padding-left: 20px;
	list-style: disc outside none;
}

footer .right_cnt {
	vertical-align: top;
	display: inline-block;
	width: 320px;
}

footer .right_cnt_inner {
	background-color: #ef5e4a;
	padding: 20px 10px;
	border-radius: 6px;
	margin: 10px;
}

footer .right_cnt_inner h3 {
	text-align: center;
	margin-bottom: 0px;
}

footer .right_cnt_inner input[type='submit'] {
	display: block;
	margin: 0px auto 0px;
}

footer .right_cnt_inner label {
	margin-top: 20px;
}