.video_cnt {}

.video_cnt_inner {
	position: relative;
	z-index: 0;
	margin: auto;
	max-width: 720px;
	padding: 52px 10px 50px;
}

.video_cnt_inner h2 {
	margin-top: 20px;
}

.video_body {}

.video_body_left {}
.video_body_right {}
