.video_cnt {}

.video_cnt_inner {
	position: relative;
	z-index: 0;
	margin: auto;
	max-width: 720px;
	padding: 52px 10px 50px;
}

.video_cnt_inner h2 {
	margin-top: 20px;
}

.video_body {}

.video_body_left {
	display: inline-block;
	width: 50%;
}

.video_body_right {
	vertical-align: top;
	display: inline-block;
	width: 49%;
	min-width: 320px;
}

@media only screen and (max-width: 770px) {
	.video_body_right, .video_body_left {
		width: 100%;
	}
}

.video_body_right_inner {
	padding: 10px;
	margin: 10px;
	border-radius: 6px;
	background-color: #ef5e4a;
}

.video_body_right .video_body_right_inner label {
	color: rgb(255,255,255);
}

.video_body_right .video_body_right_inner .form-field input {
	color: rgb(255,255,255);
}

.video_body_right .video_body_right_inner .form-field .conditions label {
	color: rgb(255,255,255);
}

.video_body_right .video_body_right_inner input[type='text'] {
	background-color: rgb(255,255,255);
	color: rgba(0,0,0, .75);
}

.video_body_right .video_body_right_inner input[type='email'] {
	background-color: rgb(255,255,255);
	color: rgba(0,0,0, .75);
}